<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're out, <%= @user.firstname %>!</h1>
    <p>
      You have been deleted by an admin.<br>
    </p>
    <p>
      Tough luck. But you can join again through our home page: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
