/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$PRIMARY_COLOR: #257059;
$SECONDARY_COLOR: #549431;
$TERTIARY_COLOR: #2B4B6F;
$BACKGROUND_COLOR: #e6e6e6;

h1, p {
  margin: 0;
}

body {
  background-color: $BACKGROUND_COLOR;
}

header {
  nav{
    background-color: $PRIMARY_COLOR;

    .nav-wrapper {
      width: 90%;
      margin: 0 auto;

      form {
        width: 30%;
        margin-left: 35%;
        display: inline-block;
      }
    }
  }
}

.page-container {
  position: relative;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  padding-top: 110px;

  .poem-card {
    background-color: #6F849C;

    .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: white;
    }

    .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
      color: $PRIMARY_COLOR;
    }
  }
}

.page-heading {
  background-color: $SECONDARY_COLOR;
  color: white;
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 20px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: white;

  .section {
    width: 100%;
  }

  .section {
    position: absolute;
    top: 10%;
  }

  a {
    background-color: $TERTIARY_COLOR;
  }

  a:hover {
    background-color: $PRIMARY_COLOR;
  }
}

pre {
  white-space: pre-wrap;
}

@media only screen and (max-width : 992px) {
  .parallax-container {

    h1 {
      font-size: 3.5em;
    }

    .section {
      position: absolute;
      top: 5%;
    }
  }
}