/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$PRIMARY_COLOR: #257059;
$SECONDARY_COLOR: #549431;
$TERTIARY_COLOR: #2B4B6F;

h1, p {
  margin: 0;
}

header {
  nav{
    background-color: $PRIMARY_COLOR;

  }
}

.page-heading {
  background-color: $SECONDARY_COLOR;
  color: white;
  display: inline-block;
  padding: 5px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: white;

  .section {
    width: 100%;
  }

  .container {
    margin-top: 20px;
  }

  a {
    background-color: $TERTIARY_COLOR;
  }

  a:hover {
    background-color: $PRIMARY_COLOR;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}